<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>{{pageTitle}}</title>
        <script>
            $(document).ready(function(){

                var user;
                $("#ok").click(function()
                {
                    $("#reponseMeteo").html("<p>Calcul de la température pour " + $("#address").val() + " en cours</p>")
                    address=$("#address").val();
                    $.post("/", {address: address}, function (data) {
                        var result = JSON.parse(data);

                        if(result.code === 200)
                        {
                            $("#reponseMeteo").html("<p>Il fait présentement " + result.temperature + " à " + $("#address").val() + " avec une température ressentie de " + result.apptemperature + "</p>")
                        }
                        else if(result.code === 202) {
                            alert(result.reason);
                        }
                    })
                    .done(function() {
                        // alert(".DONE");
                    });

                });

                $('#formid').on('keyup keypress', function(e) {
                  var keyCode = e.keyCode || e.which;
                  if (keyCode === 13) {
                    e.preventDefault();
                    $("#ok").trigger('click');
                    return false;
                  }
                });

            });
        </script>
    </head>

    <body>
        {{> header}}

        <p>
            Ceci est un exemple d'app retournant la météo de l'adresse indiquée dans le champ. Fait avec les API Google Geocoding et DarkSky.
            <form class="" id="formid" action="/" method="post">
                <input type="text" id="address" value="Montréal">

                <input type="button" id="ok" value="OK">
            </form>

            <div id="reponseMeteo"></div>

        </p>

        {{> footer}}
    </body>
</html>
