<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>En maintenance</title>
    </head>

    <body>
        <h1>En maintenance</h1>
        <p>Le site est présentement en maintenance</p>
    </body>
</html>
